<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,500i&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    
    <meta name="google-site-verification" content="_UWp1l2D5PfGsNUWzmYv7tkgMjbxJW7i8lvTIuL2x10" />

  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{site.baseurl}}/images/bikeOMuterIcon.svg" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Home</a>            
            <a href="{{ site.baseurl }}/privacy-policy/">Privacy Policy</a>            
            <a href="{{ site.baseurl }}/terms_and_conditions">Terms & Conditions</a>            
            <a href="{{ site.baseurl }}/about">About</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}     
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          <div>
            {% include svg-icons.html %}
            <p style="font-size: x-small;">
              Google Play and the Google Play logo are trademarks of Google LLC. 
            </p>
          </div>                    
        </footer>
      </div>
    </div>
  </body>
</html>
